In [31]:
import tensorflow as tf

In [32]:
import pandas as pd

In [33]:
import numpy as np

In [34]:
import matplotlib.pyplot as plt

In [35]:
dataset = pd.read_excel("AirQualityUCI.xlsx")

In [36]:
dataset.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001,0.757754
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000,0.725487
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000,0.750239
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000,0.786713
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001,0.788794

In [37]:
x = dataset.iloc[:, 0:14]

In [38]:
x.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.60,48.875001
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.30,47.700000
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.90,53.975000
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.00,60.000000
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.15,59.575001

In [39]:
y = dataset.iloc[:, 14]

In [40]:
y.head()

0    0.757754
1    0.725487
2    0.750239
3    0.786713
4    0.788794
Name: AH, dtype: float64

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [42]:
X_train.shape

(7485, 14)

In [43]:
X_test.shape

(1872, 14)

# Part 2 - Now let's make the ANN!

In [46]:
import tensorflow as tf

In [47]:
epochs=10
batch_size = 500

#### Building the model architecture

In [48]:
#Now in the fit() function, we can pass the dataset directly in, as follows:
model5 = tf.keras.models.Sequential([
 tf.keras.layers.Flatten(),
 tf.keras.layers.Dense(512,activation=tf.nn.leaky_relu),
 tf.keras.layers.Dropout(0.2),
 tf.keras.layers.Dense(10,activation=tf.nn.leaky_relu)
])

#### Compiling the model

In [49]:
steps_per_epoch = len(X_train)//batch_size #required becuase of the repeat() on the dataset
optimiser = tf.keras.optimizers.Adam()
model5.compile (optimizer= optimiser, loss='binary_crossentropy', metrics = ['accuracy'])

In [56]:
training_dataset = pd.concat([X_train,y_train], axis=1, sort=False)
training_dataset.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
4957,2004-10-03,07:00:00,-200.0,1013.00,-200,5.354251,781.00,-200.0,829.00,-200.0,1468.50,893.75,19.775,66.400000,1.514514
6933,2004-12-24,15:00:00,6.1,1437.50,-200,16.944141,1208.25,626.0,528.00,204.0,1405.25,1961.50,10.775,52.375000,0.676750
2265,2004-06-13,03:00:00,0.6,905.50,-200,4.146091,718.75,-200.0,1050.25,-200.0,1560.50,612.25,24.350,48.174999,1.447627
624,2004-04-05,18:00:00,4.1,1542.75,710,19.761560,1289.75,194.0,631.00,132.0,2011.00,1353.25,19.725,45.350000,1.031225
7038,2004-12-29,00:00:00,-200.0,981.50,-200,2.884931,644.75,-200.0,922.25,-200.0,1107.25,708.00,8.750,83.025000,0.939312

#### Fitting the model

In [58]:
model5.fit(training_dataset, epochs=epochs)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

ValueError: Please provide as model inputs either a single array or a list of arrays. You passed: inputs=           Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)   C6H6(GT)  \
4957 2004-10-03  07:00:00  -200.0      1013.00      -200   5.354251
6933 2004-12-24  15:00:00     6.1      1437.50      -200  16.944141
2265 2004-06-13  03:00:00     0.6       905.50      -200   4.146091
624  2004-04-05  18:00:00     4.1      1542.75       710  19.761560
7038 2004-12-29  00:00:00  -200.0       981.50      -200   2.884931
...         ...       ...     ...          ...       ...        ...
7891 2005-02-02  13:00:00     2.6      1036.50      -200  10.076867
9225 2005-03-30  03:00:00     0.5       826.25      -200   1.128159
4859 2004-09-29  05:00:00     0.4       769.25      -200   2.018855
3264 2004-07-24  18:00:00     1.3      1034.25      -200   5.999005
2732 2004-07-02  14:00:00     1.7      1099.25      -200  11.012100

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
4957         781.00   -200.0        829.00   -200.0       1468.50
6933        1208.25    626.0        528.00    204.0       1405.25
2265         718.75   -200.0       1050.25   -200.0       1560.50
624         1289.75    194.0        631.00    132.0       2011.00
7038         644.75   -200.0        922.25   -200.0       1107.25
...             ...      ...           ...      ...           ...
7891         980.50    387.8        720.50    139.4        999.50
9225         511.50     83.6       1107.50     61.2       1043.00
4859         585.50     60.0       1220.50     45.0       1133.75
3264         811.75     70.0        865.50     82.0       1563.25
2732        1014.75    125.0        763.00    117.0       1731.50

      PT08.S5(O3)          T         RH        AH
4957       893.75  19.775000  66.400000  1.514514
6933      1961.50  10.775000  52.375000  0.676750
2265       612.25  24.350000  48.174999  1.447627
624       1353.25  19.725000  45.350000  1.031225
7038       708.00   8.750000  83.025000  0.939312
...           ...        ...        ...       ...
7891      1086.25  13.675000  20.675001  0.322082
9225       635.50  12.475000  67.400001  0.972241
4859       650.25  17.075000  52.474999  1.013037
3264       659.75  32.325000  33.375000  1.589961
2732       838.75  38.775001  20.650000  1.403645

[7485 rows x 15 columns]